body {
text-align: center;
font-family: Arial;
color: #e40000;
background-color: #0e0d2d;
}
#footerNav {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Arial;
  font-size: .75em;
  flex: 1 1 2%;
  position: fixed;
  bottom: 10px;
  align-items: center;
  text-align: center;
}
.footerNavLink {
  flex: 1 1 50%;
}
