body {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #e40000;
  background-color: #0e0d2d;
  margin-left: 0;
  margin-right: 0;
}
h1 {
  font-size: 2.2em;
}
.madnessLink {
  text-decoration: none;
  font-size: 1.2em;
  color: #e40000;
}
a {
  color: #e40000;
}
a:hover {
  text-decoration: none;
  color: white;
}
#footerNav {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Work Sans";
  font-size: .85em;
  flex: 1 1 2%;
  position: fixed;
  bottom: 10px;
  align-items: center;
  text-align: center;
}
.footerNavLink {
  flex: 1 1 50%;
  color: #ffffff;
  text-decoration: none;
}
#clock {
  flex: 1 1 50%;
  color: #e40000;
}
