body {
  margin: 0 .5em 0 .5em;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#columnContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 2 98%;
  margin: 0;
}
.tracklist{
  overflow: hidden;
  overflow-y:scroll;
  flex: 1 1 80%;
}
.tracklist div {
  color: black;
  display: block;
  padding: 4px;
  text-align: center;
}
.tracklist div p{
  margin: 0;
  font-size: .9em;
  font-family: "Work Sans", sans-serif;
}
#whitelist div:hover{
  border: 3px solid red;
}
#blacklist div:hover{
  border: 3px solid lime;
}
#titles{
  flex: 1;
  display: flex;
}
#titles h6 {
  margin: 0;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size:.9em;
  flex: 1;
  box-sizing: border-box;
  padding: 2px;
}
#lists{
  display: flex;
  flex: 14;
  overflow: hidden;
}
#select {
  align-self: center;
  padding: 10px;
  max-height: 85vh;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
  width: 100%;
  display: flex;
  flex: 1 1 80%;
  flex-direction: column;
  opacity: .95;
}
#col1 {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
}
#col2{
  flex-direction: column;
  flex: 1 1 68%;
  display: flex;
  min-width: 300px;
  text-align: center;
}
.cols {
  margin: .3em;
}
#aace {
  flex: 1 2 auto;
}
#viewbracket {
  text-align: center;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}
#bracket {
  width: 100%;
  height: 100%;
  align-self: center;
}
.omniButton {
  font-size: .9em;
  min-height: 1.8em;
  min-width: 13em;
  width: 28%;
  height: 7%;
  border-radius: 10px;
  color: black;
  font-family: "Work Sans", sans-serif;
  border: none;
  align-self: center;
  margin-top: 5px;
}
#generateButton {
  background-color: #f58b57;
}
#generateButton:hover {
  background-color: #9b4b23;
  color: white;
}
#restartButton {
  background-color: #ff0000;
}
#restartButton:hover {
  background-color: #a00005;
  color: white;
}
#saveButton {
  background-color: #f58b57;
}
#saveButton:hover {
  background-color: #9b4b23;
  color: white;
}
#buttons{
  display: flex;
  justify-content: space-around;
}
#footerNav {
  display: flex;
  justify-content: center;
  font-family: "Work Sans";
  font-size: .85em;
  flex: 1 1 2%;
  align-items: center;
  text-align: center;
  margin-bottom: 1px;
}
.footerNavLink {
  flex: 1 1 50%;
  text-decoration: none;
}
.roundInfo {
  font-size: 1.5em;
  font-family: "Work Sans";
  text-align: center;
  margin-top: 0;
}
.songChoiceButton {
  font-size: 1.2em;
  font-family: "Work Sans";
  border-radius: 20px;
  border: none;
  width: 50%;
  margin: auto;
}
.songChoiceButton:hover {
  outline: 5px solid lime;
}
.listenButton {
	font-size: 1.2em;
	font-family: "Work Sans";
	border-radius: 20px;
	border: none;
	width: 5.5em;
	background-color: lime;
}
.listenButton:hover {
	background-color: green;
	color: white;
}
#songChoiceDiv1 {
	margin-bottom: 1em;
}
#songChoiceDiv2 {
	margin-bottom: 1.5em;
}
/*}Explicit mobile layout below (unused)*/

/*@media only screen and (orientation: portrait) {
}*/
