/*@media only screen and (orientation: landscape) {*/
	html {
		background: #f58b57;
	}
	body {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin: 0;
	}
	h1 {
		margin: 0;
		text-align: center;
		font-family: Arial, sans-serif;
		font-size: 2.2em;
	}
	h5{
		margin: 0;
		text-align: center;
		font-family: Arial, sans-serif;
		font-size:1em;
	}
	.tracklist{
		overflow: hidden;
		overflow-y:scroll;
		flex: 1 1 80%;
	}
	.tracklist div {
	  color: black;
	  display: block;
	  padding: 4px;
		text-align: center;
	}
	.tracklist div p{
		margin: 0;
		font-size: .9em;
		font-family: Arial, sans-serif;
	}
	#madnessType {
		padding: 0px;
		margin-bottom: 3%;
		flex: 0 0 20%;
	}
	#whitelist div:hover{
		border: 3px solid red;
	}
	#blacklist div:hover{
		border: 3px solid lime;
	}
	#titles{
		flex: 1;
		display: flex;
	}
	#titles h6 {
		margin: 0;
		text-align: center;
		font-family: Arial, sans-serif;
		font-size:.8em;
		flex: 1;
		box-sizing: border-box;
		padding: 2px;
	}
	#lists{
		display: flex;
		flex: 14;
		overflow: hidden;
	}
	#select {
		align-self: center;
		padding: 10px;
		max-height: 85vh;
		box-sizing: border-box;
		border-radius: 20px;
		background-color: white;
		width: 100%;
		display: flex;
		flex: 3 2 auto;
		flex-direction: column;
		opacity: .95;
	}
	#col1 {
		align-self: center;
		display: flex;
		flex-direction: column;
		flex: 1 1 30%;
	}
	#col2{
		flex-direction: column;
		flex: 1 1 67%;
		display: flex;
		min-width: 300px;
		text-align: center;
	}
	#aace {
		flex: 1 1 30%;
	}
	#viewbracket {
		text-align: center;
		border-radius: 20px;
		max-height: 97vh;
		background-color: white;
		box-sizing: border-box;
		padding: 10px;
		flex: 1 1 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: flex-end;
	}
	.cols {
		margin: .5em;
	}
	#bracket {
		width: 100%;
		height: 100%;
		align-self: center;
	}
	#generateButton {
		background-color: #f58b57;
		font-size: .8em;
		min-height: 1.8em;
		min-width: 13em;
		width: 28%;
		height: 7%;
		border-radius: 10px;
		color: black;
		font-family: Arial, sans-serif;
		border: none;
		align-self: center;
	}
	#generateButton:hover {
	  background-color: #9b4b23;
		color: white;
	}
/*}Explicit mobile layout below (unused)*/

/*@media only screen and (orientation: portrait) {
}*/
